#

[Unit]
Description=Mainloops
Wants=mainloop.timer

[Service]
Type=oneshot
#WorkingDirectory=/usr/local/sbin/mainloop
ExecStart=/usr/local/sbin/mainloop/venv/bin/python /usr/local/sbin/mainloop/mainloop.py

[Install]
WantedBy=multi-user.target
